div.header {
    display: flex;
    margin: 32px 11.46vw 0;
    justify-content: space-between;
    color: #363636;
}

div.header div.logo {
    display: flex;
    align-items: center;
}

div.header div.logo div.logoName {
    margin-left: 0.56vw;
    font-size: 21px;
}

div.header div.nameOfPage {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    padding-right: 22.22vw;
}

div.header div.person {
    display: flex;
    align-items: center;
}

div.header div.person div.hiName {
    padding-right: 0.69vw;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
}

div.footer {
    margin: 0 auto;
    margin-top: 62px;
    display: flex;
    justify-content: space-between;
    width: 77.08vw;
    padding: 16px 0;
    border-top: 1px solid #BFC4C9;
}

div.footer div.copyrights {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

div.footer div.socials {
    width: 168px;
    display: flex;
    gap: 24px;
    cursor: pointer;
}

div.footer div.socials img:first-child {
    width: 9.9px;
    height: 18px;
}

div.footer div.socials img:first-child + img {
    width: 18px;
    height: 18px;
}

div.footer div.socials img:first-child + img + img {
    width: 22px;
    height: 13.2px;
    margin-top: 5px;
}

div.footer div.socials img:first-child + img + img + img {
    width: 18px;
    height: 19px;
}

div.bookMiniList {
    background: #F9F9FA;
    height: 64px;
    padding: 20px 0 20px 11.46vw;
    margin-top: 27px;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #A7A7A7;
}

div.main {
    display: flex;
    gap: 2.08vw;
    padding: 42px 11.46vw 0;
}

div.main div.image img {
    max-width: none;
}

div.main div.mainContent div.header {
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0.1px;
    margin: 0;
}

div.main div.mainContent div.author {
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.1px;
    color: #A7A7A7;
    padding: 24px 0 32px 0;
}

div.main div.mainContent div.button button {
    background: linear-gradient(231.58deg, #F83600 -53.35%, #F9D423 297.76%);
    border-radius: 30px;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
    height: 52px;
    width: 24.31vw;
    border: none;
    cursor: pointer;
    letter-spacing: 0.2px;
    text-transform: uppercase;
}

div.main div.mainContent div.aboutBook {
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.1px;
    padding: 62px 0 32px 0;
}

div.main div.mainContent div.aboutText {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
}

div.rating {
    padding: 42px 11.46vw 0;
}

div.rating div.header {
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    margin: 0;
    display: block;
}

div.rating hr {
    width: 24.31vw;
    margin: 16px 0 20px 0;
    border: 1px solid #EBEBEB
}

div.rating div.starsWithNumbers {
    display: flex;
    justify-content: space-between;
    width: 221px;
}

div.rating div.starsWithNumbers div.stars {
    display: flex;
    gap: 1.11vw;
}

div.rating div.starsWithNumbers div.number {
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
}

div.detailedInformation {
    padding: 42px 11.46vw 0;
}

div.detailedInformation div.header {
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    margin: 0;
    display: block;
}

div.detailedInformation hr {
    width: 24.31vw;
    margin: 16px 0 0 0;
    border: 1px solid #EBEBEB
}

div.detailedInformation div.main {
    display: flex;
    justify-content: space-between;
    gap: 10.14vw;
    padding: 0;
}

div.detailedInformation div.main div.column1 {
    display: flex;
    gap: 4.86vw;
}

div.detailedInformation div.main div.column2 {
    display: flex;
    gap: 5vw;
}

div.detailedInformation div.main div.column1 div.namesOfProperty div.nameOfProperty,
div.detailedInformation div.main div.column2 div.namesOfProperty div.nameOfProperty,
div.detailedInformation div.main div.column1 div.properties div.property,
div.detailedInformation div.main div.column2 div.properties div.property {
    padding-top: 16px;
}

div.detailedInformation div.main div.column1 div.namesOfProperty div.nameOfProperty,
div.detailedInformation div.main div.column2 div.namesOfProperty div.nameOfProperty {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #A7A7A7;
}

div.detailedInformation div.main div.column1 div.properties div.property,
div.detailedInformation div.main div.column2 div.properties div.property {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

div.reviews {
    padding: 62px 11.46vw 0;
}

div.reviews div.headerAndNumber {
    display: flex;
    gap: 0.42vw;
    align-items: center;
}

div.reviews div.headerAndNumber div.header {
    margin: 0;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
}

div.reviews div.headerAndNumber div.number {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #A7A7A7;
}

div.reviews hr {
    width: 24.31vw;
    margin: 16px 0 16px 0;
    border: 1px solid #EBEBEB
}

div.reviews div.review div.container {
    display: flex;
    align-items: center;
    gap: 1.67vw;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #727272;
}

div.reviews div.review div.stars {
    padding-top: 18px;
    display: flex;
    gap: 1.11vw;
}

div.reviews div.secondReview {
    padding-top: 45px;
}

div.reviews div.review div.comment {
    padding: 19px 0 42px 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

div.rateTheBook {
    padding: 45px 11.46vw 0;
}

div.rateTheBook button {
    background: linear-gradient(233.73deg, #F83600 -16.08%, #F9D423 327.37%);
    border-radius: 30px;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    color: #FFFFFF;
    border: none;
    height: 52px;
    width: 24.31vw;
    cursor: pointer;
}
